@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);*,body,html{margin:0;box-sizing:border-box;padding:0}#hero,*,body,html{padding:0}#hero,body{background-color:#fff}#hero,.hero-content,header{position:relative}.hero-left p,nav a{font-weight:100;text-shadow:0 0 0 #000;color:#000}#what-i-do ul,ul li{list-style:none}.learnpress,.moon,.moons,.planet,.potato,.rankmath,.satellite,.security,.yoast-seo{grid-area:1/1}body,html{height:100%;width:100%}body{font-family:Inter,sans-serif;font-optical-sizing:auto;font-style:normal;color:#333;line-height:1.6}.container{width:90%;max-width:1200px;margin:auto}header{background-color: #ffffff;width:100%;transition:.3s;z-index:1000;border-bottom:1px solid #b7b5b5}header .logo img{max-height:60px;width:100%;vertical-align:middle}header.sticky{position:fixed;top:0;left:0;box-shadow:0 2px 8px rgba(0,0,0,.1);z-index:9999}header .container{display:flex;justify-content:space-between;align-items:center}.top-nav a{border-bottom:3px solid transparent;transition:border-color .3s}.top-nav a.active{border-bottom:3px solid gold;color:gold;background-color: #ffffff;}nav a{margin-left:20px;text-decoration:none}#hero{height:75vh;display:flex;align-items:center;border-radius:15px;box-shadow:rgba(50,50,93,.25) 0 50px 100px -20px,rgba(0,0,0,.3) 0 30px 60px -30px,rgba(10,37,64,.35) 0 -2px 6px 0 inset;overflow:hidden;margin-top:3%}#particles-js{position:absolute;width:100%;height:100%;z-index:0}.hero-content{z-index:1;display:flex;align-items:center;justify-content:space-between;width:100%;margin:0;height:100%;pointer-events:none}.hero-left{flex:1;width:50%;padding-left:40px}.hero-left p{font-size:16px;margin-bottom:7%}.hero-left a,h1.section_title{color:transparent;-webkit-text-fill-color:transparent;z-index:0;position:relative}.hero-left h1{font-size:45px;font-weight:900}.hero-left a{font-size:18px;font-weight:700;background:linear-gradient(to right,#b38728,#fcf6ba,#b38728);background-clip:text;-webkit-background-clip:text;pointer-events:painted;padding:5px 16px;border-radius:10px}.hero-left a::before{content:'';position:absolute;inset:0;border-radius:10px;padding:2px;background:linear-gradient(to right,gold,#daa520,#b8860b);-webkit-mask:linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);-webkit-mask-composite:xor;mask-composite:exclude;z-index:-1}.hero-left a:hover{opacity:.9}.hero-right{width:50%;height:100%}section{padding:60px 0;animation:1s ease-in fadeIn}h1.section_title{font-size:35px;font-weight:700;background:linear-gradient(to right,#b38728,#fcf6ba,#b38728);background-clip:text;-webkit-background-clip:text;margin-bottom:3%}#what-i-do ul{margin-top:20px}#what-i-do li::before{content:"💼";margin-right:10px}.portfolio-container{display:grid;grid-template-columns:repeat(auto-fit,minmax(333px,1fr));gap:20px}#portfolio-area{margin-top:60px}.portfolio-item{background:#f9f9f9;padding:15px;text-align:center;border-radius:10px;transition:transform .3s;box-shadow:rgba(50,50,93,.25) 0 50px 40px -20px,rgba(0,0,0,.3) 0 30px 60px -30px,rgba(10,37,64,.35) 0 -2px 6px 0 inset}.box:hover,.portfolio-item:hover{transform:translateY(-5px)}.item-info{margin-bottom:30px}.item-title{font-weight:700;font-size:28px;margin:24px 0 10px;text-align:center;line-height:35px}.item-desc{font-size:.9em;color:#555;margin-bottom:10px;text-align:center}.item-plugin,.item-theme{font-size:.7em;color:#555;margin-bottom:5px;text-align:left}.image-wrapper{position:relative;width:100%;padding-top:56.25%;overflow:hidden;border-radius:4px;cursor:pointer;height:235px}#about_me .air,#bg-canvas,.buttons{position:absolute}.image-wrapper img,.lightbox{top:0;left:0;width:100%;height:100%}.image-wrapper img{position:absolute;object-fit:cover;object-position:top;transition:transform .3s}.image-wrapper:hover img{transform:scale(1.05)}.buttons{top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;gap:10px;opacity:0;transition:opacity .3s;background:rgba(0,0,0,.4)}.btn,.slider-btn{transition:background .3s}.image-wrapper:hover .buttons{opacity:1}.btn{padding:8px 12px;background:#fff}.lightbox{position:fixed;background:rgba(0,0,0,.8);display:none;justify-content:center;align-items:center;z-index:9999}.close-btn,.slider-btn:hover{background:#fff}.lightbox.active{display:flex;animation:.7s ease-out forwards bounceIn}@keyframes bounceIn{0%{opacity:0;transform:scale(.3) translateY(-200px)}20%{opacity:1;transform:scale(1.1) translateY(0)}40%{transform:scale(.9) translateY(-20px)}60%{transform:scale(1.05) translateY(0)}80%{transform:scale(.98) translateY(-5px)}100%{transform:scale(1) translateY(0)}}.lightbox-content{position:relative;max-width:90%;max-height:90%;overflow-y:auto}.close-btn,.slider-controls{position:fixed;display:flex}.lightbox img{max-width:750px;max-height:100%;display:block;border-radius:8px;pointer-events:all}.close-btn{top:3%;right:15%;border:none;border-radius:50%;font-size:1.5em;width:30px;height:30px;cursor:pointer;font-weight:700;align-items:center;justify-content:center}.slider-controls{top:50%;width:60%;justify-content:space-between;transform:translateY(-75%);left:19.4%;pointer-events:none}.slider-btn{background:rgba(255,255,255,.7);border:none;padding:10px;cursor:pointer;border-radius:50%;font-size:1em;pointer-events:all}#prevSlide{margin-left:-56px}#nextSlide{margin-right:-68px}ul.what_do li{display:flex;gap:2%;margin-top:2%;align-items:center;flex-direction: row;flex-wrap: wrap;}ul.what_do span{font-size:12px;margin-left:5%;color:#6a6969}ul.what_do li img{width:22px;height:22px}.about_content{display:flex;gap:50px;flex-direction:row;justify-content:space-between;align-items:center}.about_content img{width:500px;height:480px}form{display:flex;flex-direction:column;gap:15px;max-width:600px;margin:auto}input,textarea{padding:15px;border:1px solid #ccc;border-radius:5px;font-size:1rem}.load-more,button.send{height:50px;border:none;background:linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);margin:40px auto;align-items:center;align-content:center;display:flex;font-size:14px;color:#796703;font-weight:600;position:relative;box-shadow:5px 5px 10px rgba(0,0,0,.144);cursor:pointer;transition-duration:3s;text-align:center}button.send{width:100%;border-radius:6px;background-size:200% 200%;justify-content:center}.load-more{width:150px;border-radius:6px;background-size:200% 200%;justify-content:center}.btn{width:116px;height:40px;border:none;border-radius:4px;background:linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);font-size:14px;color:#796703;font-weight:600;position:relative;transition-duration:3s;box-shadow:5px 5px 10px rgba(0,0,0,.144);background-size:200% 200%;cursor:pointer}.box,.shine-card{border-radius:10px}.btn:hover,.load-more:hover,button:hover{transform:scale(.95);transition-duration:3s;animation:5s infinite gradient;background-position:right}footer{text-align:center;padding:20px;background:#f1f1f1;font-size:.9rem}#bg-canvas{width:100%;height:100%;align-items:center;justify-content:center;text-align:center;z-index:-1;object-fit:cover}@property --angle{syntax:'<angle>';inherits:true;initial-value:0deg}@property --z{syntax:'<integer>';inherits:true;initial-value:0}@keyframes revolve{from{--angle:0deg;--z:-1}to{--angle:360deg;--z:0}}.my_hero_content{display:grid;place-items:center;margin:0;overflow:clip;height:100%;width:100%}#about_me,.poligon,.shine-card{overflow:hidden}.learnpress,.moon,.moons,.potato,.rankmath,.satellite,.security,.yoast-seo{--x-amplitude:220px;--y-amplitude:120px;--x:calc(cos(var(--angle)) * var(--x-amplitude));--y:calc(sin(var(--angle)) * var(--y-amplitude));transform:rotate(var(--rotation)) translate(var(--x),var(--y)) rotate(calc(var(--rotation) * -1));z-index:calc(var(--z));animation:10s linear infinite revolve}.moon{--rotation:0deg;animation-delay:0s}.moons{background-image:url("images/zet-pac-logo.png");background-size:cover;--rotation:90deg;animation-delay:1s}.satellite{--rotation:60deg;animation-delay:-2s}.learnpress,.potato,.rankmath,.security,.yoast-seo{animation-delay:-1s}.potato{--rotation:190deg}.rankmath{--rotation:30deg}.learnpress{--rotation:80deg}.yoast-seo{--rotation:120deg}.security{--rotation:220deg}img{display:block}.planet,.planet img{width:350px;height:350px}.learnpress img,.moon img,.moons img,.potato img,.rankmath img,.satellite img,.security img,.yoast-seo img{width:40px;height:40px;border-radius:50%}#about_me{position:relative;width:100%;height:120vh;background:#e5edff;margin-top:170px}#about_me .air{bottom:0;left:0;width:100%;height:100px;background:url(images/wave.png) 0 0/1000px 100px}#about_me .air.air1{animation:30s linear infinite wave;z-index:1000;opacity:1;bottom:0}#about_me .air.air2{animation:15s linear -5s infinite wave2;z-index:999;opacity:.5;bottom:10px}#about_me .air.air3{animation:30s linear -2s infinite wave;z-index:998;opacity:.2;bottom:15px}#about_me .air.air4{animation:5s linear -5s infinite wave2;z-index:997;opacity:.7;bottom:20px}@keyframes wave{0%{background-position-x:0px}100%{background-position-x:1000px}}@keyframes wave2{0%{background-position-x:0px}100%{background-position-x:-1000px}}:root{--cols:10;--rows:6;--cells:calc(var(--cols) * var(--rows));--bgcolor:#fff;--shapeHeight:230px;--shapeWidth:200px}.poligon{background-color:var(--bgcolor);height:auto;width:100%;position:relative;padding:0}.containers{display:grid;grid-template-columns:repeat(10,var(--shapeWidth));grid-template-rows:repeat(6,var(--shapeHeight));transform:translate(-3%,-4%);position:absolute}.box,.element{position:relative}.shape{width:var(--shapeWidth);height:var(--shapeHeight);clip-path:polygon(50% 0%,100% 25%,100% 75%,50% 100%,0 75%,0 25%);-webkit-clip-path:polygon(50% 0%,100% 25%,100% 75%,50% 100%,0 75%,0 25%)}.shape:nth-child(11),.shape:nth-child(13),.shape:nth-child(15),.shape:nth-child(17),.shape:nth-child(19),.shape:nth-child(21),.shape:nth-child(23),.shape:nth-child(25),.shape:nth-child(27),.shape:nth-child(29),.shape:nth-child(31),.shape:nth-child(33),.shape:nth-child(35),.shape:nth-child(37),.shape:nth-child(39),.shape:nth-child(41),.shape:nth-child(43),.shape:nth-child(45),.shape:nth-child(47),.shape:nth-child(49),.shape:nth-child(51),.shape:nth-child(53),.shape:nth-child(55),.shape:nth-child(57),.shape:nth-child(59){transform:translateY(-115px)}svg polygon{fill:none;stroke-width:5}svg polygon:first-child{stroke:hsl(0,0%,96.5%)}svg polygon:nth-child(2){stroke:hsl(0,0%,97.5%)}svg polygon:nth-child(3){stroke:hsl(0,0%,98.5%)}svg polygon:nth-child(4){stroke:hsl(0,0%,99.5%)}.element{top:0;left:0;width:90%;height:100%;z-index:3;background-color:#ffffff63}@keyframes fadeInUp{0%{opacity:0;transform:translateY(30px)}100%{opacity:1;transform:translateY(0)}}.fade-in-up{opacity:0;transform:translateY(30px);transition:opacity .6s ease-out,transform .6s ease-out}.fade-in-up.show{opacity:1;animation:.9s ease-out forwards fadeInUp}.shine-card{position:relative;width:400px;height:250px}.shine-card img{width:100%;height:100%;display:block}.shine-card::before{content:"";position:absolute;top:0;left:-150%;width:50%;height:100%;pointer-events:none;background:linear-gradient(120deg,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 50%,rgba(255,255,255,0) 100%);transform:skewX(-20deg);animation-fill-mode:forwards}.shine-card:hover::before{animation:.8s forwards shine-right}@keyframes shine-right{from{left:-150%}to{left:150%}}@media screen and (max-width:425px) and (min-width:320px){nav a{margin-left:8px;font-size:12px}header .logo img{max-height:30px;width:100%}.hero-left h1{font-size:20px;font-weight:900}.hero-content{display:flex;flex-direction:column-reverse!important;justify-content:center;align-content:center;align-items:center}#hero{height:81vh}.hero-left{width:100%;padding:20px!important}.hero-right{width:100%;height:100%}.hero-left p{font-size:10px;margin-bottom:5%}.about_me_content,.hero-left a,ul.what_do li{font-size:12px}.planet,.planet img{width:250px;height:250px}#about_me{margin-top:10px}.about_content{display:flex;gap:10px;justify-content:space-between;align-items:center;flex-direction:column}.about_content .right-content{display:none}ul.what_do li{display:flex;align-items:flex-start;flex-direction:column;font-weight:700;line-height:16px}ul.what_do span{font-size:12px;line-height:16px!important;color:#6a6969;display:inline-block;margin:5% 0 10%}ul.what_do li img{width:20px;height:20px;margin-bottom:5px}.portfolio-container{grid-template-columns:repeat(auto-fit,minmax(288px,1fr))}#portfolio-area{margin-top:20px}.item-title{font-size:22px;line-height:30px}h1.section_title{font-size:20px;margin-bottom:8%}#progress-area{display:flex;gap:10px;width:100%;flex-direction:row;flex-wrap:wrap;justify-content:space-between}.box{width:48%;height:auto}section{padding:30px 0}}@media screen and (max-width:768px) and (min-width:426px){.hero-content{flex-direction:column;text-align:center;display:flex;flex-direction:row;justify-content:space-between;align-content:center;flex-wrap:nowrap}.hero-left{margin-bottom:30px;width:50%;padding:10px!important;text-align:left}nav a{margin-left:8px;font-size:12px}header .logo img{max-height:30px;width:100%}.hero-left h1{font-size:20px;font-weight:900}#hero{height:81vh}.hero-right{width:50%;height:100%}.hero-left p{font-size:10px;margin-bottom:5%}.hero-left a{font-size:12px}#about_me{height:160vh;margin-top:100px}.about_content img{width:300px;height:auto}.about_content{display:flex;gap:10px;flex-direction:row;justify-content:space-between;align-items:center}}
.box {
 position: relative;
  width: 240px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 40px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box:hover {
  transform: translateY(-5px);
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

.box .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 13px;
}

 .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background-image: url(images/gold-image.png);
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(0,0,0,0.05);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: #555;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #00000;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}
#progress-area{
	display: flex;gap: 20px;


}
